<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="mb-4">Контакты</h1>
            <p class="lead">Если у вас есть вопросы, предложения или комментарии, не стесняйтесь связаться с нами!</p>
            <div class="row mt-4">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title"><i class="bi bi-envelope"></i> Email</h5>
                            <p class="card-text">
                                <a href="mailto:support@keyboardsite.com">support@keyboardsite.com<br>help@keyboardsite.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title"><i class="bi bi-telephone"></i> Телефон</h5>
                            <p class="card-text">+38 123 456 7890<br>+38 123 456 9078</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title"><i class="bi bi-geo-alt"></i> Адрес</h5>
                            <p class="card-text">г. Киев, Украина<br>ул. Клавиатурная, 1</p>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mt-5">Следите за нами в социальных сетях</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com" target="_blank" class="btn btn-outline-primary">
                        <i class="bi bi-facebook"></i> Facebook
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com" target="_blank" class="btn btn-outline-danger">
                        <i class="bi bi-instagram"></i> Instagram
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.twitter.com" target="_blank" class="btn btn-outline-info">
                        <i class="bi bi-twitter"></i> Twitter
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
