<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="mb-4">Моя улюблена справа</h1>
      <p class="lead">Это моя личная страница, где я рассказываю о своих любимых занятиях и хобби.</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="images/example_1.jpg" class="card-img-top" alt="Хобби 1">
        <div class="card-body">
          <h5 class="card-title"><b>Velis-9X</b></h5>
          <ul class="text-start">
            <li>Тип переключателей: Gateron Brown</li>
            <li>Подсветка: RGB.</li>
            <li>Материал корпуса: Алюминиевый</li>
            <li>Форм-фактор: TKL Tenkeyless.</li>
            <li>Подключение: USB-C</li>
            <li>Доп. функции: Программируемые макросы</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="images/example_2.jpg" class="card-img-top" alt="Хобби 2">
        <div class="card-body">
          <h5 class="card-title"><b>Philo-99</b></h5>
          <ul class="text-start">
            <li>Тип переключателей: Razer Yellow</li>
            <li>Подсветка: LED</li>
            <li>Материал корпуса: Пластик</li>
            <li>Форм-фактор: 60%.</li>
            <li>Подключение: Bluetooth 5.0</li>
            <li>Доп. функции: Батарея на 4000 мАч</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <img src="images/example_3.png" class="card-img-top" alt="Хобби 3">
        <div class="card-body">
          <h5 class="card-title"><b>Kryz-8A</b></h5>
          <ul class="text-start">
            <li>Тип переключателей: Gateron Yellow</li>
            <li>Подсветка: RGB</li>
            <li>Материал корпуса: Алюминиевый</li>
            <li>Форм-фактор: Полноразмерная</li>
            <li>Подключение: USB с отъемным кабелем</li>
            <li>Доп. функции: Кнопки быстрого доступа</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
