<header class="bg-dark text-white text-center py-5" style="background: url('images/for_header.jpg') no-repeat center/cover;">
  <div class="container">
    <h1 class="display-4">Добро пожаловать на мой сайт!</h1>
    <p class="lead">Где я делюсь своей страстью и увлечениями</p>
  </div>
</header>
